<div class="settings">
  <a class="btn-floating btn-Small waves-effect waves-light blue-grey darken-1"><i class="material-icons" routerLink="[location.href + '/'],['new']"(click)="add()">add</i></a>
  <a class="btn-floating btn-Small waves-effect waves-light blue-grey darken-1"><i class="material-icons" (click)="deleteMsg()">delete</i></a>
  <a class="btn-floating btn-Small waves-effect waves-light blue-grey darken-1"><i class="material-icons" (click)="edit()">edit</i></a>
  <a class="btn-floating btn-Small waves-effect waves-light blue-grey darken-1"><i class="material-icons" (click)="archiveMsg()">archive</i></a>
</div>